/* Remove styles related to the header, now handled by song-editor.component.scss */

/* Keep styles for PrimeNG overrides if still needed within app-song/app-parts */
:host ::ng-deep .p-inputnumber {
    width: 70px !important;
}

:host ::ng-deep .p-inputnumber-input {
    padding: 2px !important;
    font-size: 14px;
    width: 30px !important;
    text-align: center;
}

:host ::ng-deep .p-inputnumber-button {
    padding: 2px !important;
    width: 20px !important;
}

:host ::ng-deep .p-inputnumber-button-icon {
    font-size: 0.8rem !important;
}

/* Styles for the parts list itself if needed */
