<div id="commands" class="container">
    <div class="container" *ngFor="let item of block!.commands">
        <p-dropdown appendTo="body" [options]="commandTypeNames" [(ngModel)]="item.commandType">
            <ng-template let-commandType pTemplate="selectedItem">
                {{commandTypes[commandTypeNames[commandType]]}}
            </ng-template>
            <ng-template let-commandType pTemplate="item">
                {{commandTypes[commandTypeNames[commandType]]}}
            </ng-template>
        </p-dropdown>

        <ng-container  class="container" [ngSwitch]="item.commandType">
            <div *ngSwitchCase="commandTypes.PLAYMODE">
                <p-dropdown class="commandType" appendTo="body" [options]="playModeNames" [(ngModel)]="item.commandValue"></p-dropdown>
            </div>
            <div *ngSwitchCase="commandTypes.SCALE">
                <p-dropdown class="commandType" appendTo="body" [options]="scaleNames" [(ngModel)]="item.commandValue"></p-dropdown>
            </div>
            <div *ngSwitchCase="commandTypes.PATTERN">
                <input type="text" class="patternValue" pInputText [(ngModel)]="item.commandValue"/>
            </div>
            <div *ngSwitchDefault>
                <p-inputNumber class="commandValue" [(ngModel)]="item.commandValue" [showButtons]="true" [min]="-250" [max]="250" [size]="1">
                </p-inputNumber>
            </div>
        </ng-container>
        <button pButton type="button" icon="pi pi-times" (click)="removeCommand(item)"></button>
    </div>
    <button pButton type="button" icon="pi pi-plus" (click)="addCommand()"></button>
</div>