<div class="commands-container">
    <div class="notes-input">
        <ng-container *ngIf="block.blockContent.isVariable; else notesInput">
            <p-dropdown class="notes-value" 
                [options]="getMelodyVariables()" 
                [(ngModel)]="block.blockContent.variableName"
                (ngModelChange)="handleMelodyVariableChange($event)" 
                [showClear]="true"
                optionLabel="label"
                optionValue="value"
                [placeholder]="getMelodyVariables().length ? 'Select melody variable' : 'No melody variables'"
                appendTo="body">
            </p-dropdown>
        </ng-container>
        <ng-template #notesInput>
            <input type="text" 
                [(ngModel)]="block.blockContent.notes" 
                (ngModelChange)="handleNotesChange($event)"
                placeholder="Enter notes (e.g. 1 2 3)">
        </ng-template>
        <div class="notes-controls">
            <p-button (click)="toggleMelodyVariable($event)" 
                icon="pi pi-dollar">
            </p-button>
        </div>
    </div>

    <div *ngFor="let command of block.commands" class="command">
        <select class="command-type" [(ngModel)]="command.type">
            <option *ngFor="let type of commandTypeNames" [value]="type">{{type}}</option>
        </select>

        <ng-container [ngSwitch]="command.type">
            <ng-container *ngSwitchCase="commandTypes.PLAYMODE">
                <ng-container *ngIf="command.isVariable; else playModeSelect">
                    <p-dropdown class="command-value" 
                        [options]="getFilteredVariables(command)" 
                        [ngModel]="getSelectedValue(command)"
                        (ngModelChange)="handleValueInput($event, command)" 
                        [showClear]="true"
                        optionLabel="label"
                        optionValue="value"
                        [placeholder]="getFilteredVariables(command).length ? 'Select PlayMode variable' : 'No PlayMode variables'"
                        appendTo="body">
                    </p-dropdown>
                </ng-container>
                <ng-template #playModeSelect>
                    <select [(ngModel)]="command.value">
                        <option *ngFor="let mode of playModeNames" [value]="mode">{{mode}}</option>
                    </select>
                </ng-template>
            </ng-container>

            <select *ngSwitchCase="commandTypes.SCALE" [(ngModel)]="command.value">
                <option *ngFor="let scale of scaleNames" [value]="scale">{{scale}}</option>
            </select>

            <ng-container *ngSwitchDefault>
                <ng-container *ngIf="command.isVariable; else numberInput">
                    <p-dropdown class="command-value" 
                        [options]="getFilteredVariables(command)" 
                        [ngModel]="getSelectedValue(command)"
                        (ngModelChange)="handleValueInput($event, command)" 
                        [showClear]="true"
                        optionLabel="label"
                        optionValue="value"
                        [placeholder]="getFilteredVariables(command).length ? 'Select number variable' : 'No number variables'"
                        appendTo="body">
                    </p-dropdown>
                </ng-container>
                <ng-template #numberInput>
                    <p-inputNumber class="command-value" 
                        [(ngModel)]="command.value"
                        mode="decimal"
                        [showButtons]="true"
                        buttonLayout="horizontal"
                        [min]="-999"
                        [max]="999"
                        incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus">
                    </p-inputNumber>
                </ng-template>
            </ng-container>
        </ng-container>

        <div class="command-controls">
            <p-button (click)="toggleVariableMode(command, $event)" 
                [disabled]="command.type === commandTypes.SCALE"
                icon="pi pi-dollar">
            </p-button>

            <p-button (click)="removeCommand(command)" icon="pi pi-times"></p-button>
        </div>
    </div>
    <p-button (click)="addCommand()" icon="pi pi-plus"></p-button>
</div>