<div class="variables-container">
    <form (submit)="addVariable($event)" class="variable-form" #varForm="ngForm">
        <input type="text" [(ngModel)]="newVariable.name" name="name" placeholder="Variable name" required>
        
        <select [(ngModel)]="newVariable.type" name="type" required>
            <option value="number">Number</option>
            <option value="playmode">Play Mode</option>
            <option value="melody">Melody</option>
            <option value="scale">Scale</option>
        </select>

        <ng-container [ngSwitch]="newVariable.type">
            <select *ngSwitchCase="'playmode'" [(ngModel)]="newVariable.value" name="value" required>
                <option *ngFor="let mode of playModeNames" [value]="mode">{{mode}}</option>
            </select>

            <select *ngSwitchCase="'scale'" [(ngModel)]="newVariable.value" name="value" required>
                <option *ngFor="let scale of scaleNames" [value]="scale">{{scale}}</option>
            </select>

            <p-inputNumber *ngSwitchCase="'number'" 
                [(ngModel)]="newVariable.value" 
                name="value"
                mode="decimal"
                [showButtons]="true"
                buttonLayout="horizontal"
                [min]="-999"
                [max]="999"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus">
            </p-inputNumber>

            <input *ngSwitchCase="'melody'" 
                type="text" 
                [(ngModel)]="newVariable.value" 
                name="value"
                placeholder="Enter notes (e.g. 1 2 3)"
                required>
        </ng-container>

        <p-button type="submit" 
            [disabled]="!varForm.form.valid"
            icon="pi pi-plus">
        </p-button>
    </form>

    <div class="variables-list">
        <div *ngFor="let variable of variables; let i = index" class="variable-item">
            <span class="variable-name">{{variable.name}}</span>
            
            <ng-container [ngSwitch]="variable.type">
                <select *ngSwitchCase="'playmode'" 
                    [(ngModel)]="variable.value" 
                    (ngModelChange)="updateVariable(i)">
                    <option *ngFor="let mode of playModeNames" [value]="mode">{{mode}}</option>
                </select>

                <select *ngSwitchCase="'scale'" 
                    [(ngModel)]="variable.value" 
                    (ngModelChange)="updateVariable(i)">
                    <option *ngFor="let scale of scaleNames" [value]="scale">{{scale}}</option>
                </select>

                <p-inputNumber *ngSwitchCase="'number'" 
                    [(ngModel)]="variable.value"
                    (ngModelChange)="updateVariable(i)"
                    mode="decimal"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [min]="-999"
                    [max]="999"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus">
                </p-inputNumber>

                <input *ngSwitchCase="'melody'" 
                    type="text" 
                    [(ngModel)]="variable.value" 
                    (blur)="updateVariable(i)"
                    placeholder="Enter notes (e.g. 1 2 3)">
            </ng-container>

            <p-button (click)="removeVariable(i)" 
                icon="pi pi-times">
            </p-button>
        </div>
    </div>
</div> 