.variables-container {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.variable-form {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    flex-shrink: 0;
    
    @media (max-width: 768px) {
        gap: 5px;
    }
}

.variable-input {
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 24px;
}

input[type="text"], select {
    @extend .variable-input;
    min-width: 120px;
    
    @media (max-width: 768px) {
        min-width: 80px;
        font-size: 12px;
    }
}

:host ::ng-deep .p-inputnumber {
    width: 80px;

    .p-inputnumber-input {
        width: 100%;
        text-align: center;
    }
}

.variables-list {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    overflow-y: auto;
    
    @media (max-width: 768px) {
        /* max-height: 80px; */
    }
}

.variable-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;

    .variable-name {
        min-width: 120px;
        font-weight: bold;
        
        @media (max-width: 768px) {
            min-width: 80px;
            font-size: 12px;
        }
    }

    select {
        min-width: 100px;
        
        @media (max-width: 768px) {
            min-width: 80px;
            font-size: 12px;
        }
    }
}

.validation-error {
    color: red;
    font-size: 0.8rem;
    margin-top: 2px;
} 