<div class ="command">
    <mat-form-field  class="commandType" appearance="fill">
    <mat-select class="commandType" [(ngModel)]= "command.commandType">
        <mat-option value="V">Velocity</mat-option>
        <mat-option value="M">Mode</mat-option>
        <mat-option value="P">Pulse</mat-option>
        <mat-option value="W">Width</mat-option>
        <mat-option value="O">Octave</mat-option>
        <mat-option value="S">Scale</mat-option>
        <mat-option value="I">Inversion</mat-option>
        <mat-option value="K">Key</mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field class="commandValue" appearance="fill">
        <input class="commandType" matInput mat-line [(ngModel)]= "command.commandValue">
    </mat-form-field>
 </div>