.command{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
    max-width:200px;
    gap:5px;
    
}
.commandType{
     max-width:50%;  
}
.commandValue{
    max-width:50%;  
}
