<div class="part">
    <div class="part-header">
        <div class="part-controls">
            <ng-container *ngFor="let block of part.blocks">
                <button pButton type="button" icon="pi pi-plus" (click)="onAddChild(block)" pTooltip="Add child block"></button>

            </ng-container>
            <button pButton type="button" icon="pi pi-copy" (click)="duplicatePart()" pTooltip="Duplicate part"></button>
            <button pButton type="button" icon="pi pi-times" (click)="removePart()" pTooltip="Remove part"></button>
            <button pButton type="button" icon="pi pi-play" (click)="playPart()" pTooltip="Play part"></button>
            <button pButton type="button" icon="pi pi-stop" (click)="stopPart()" pTooltip="Stop part"></button>
        </div>
        <div class="part-info">
            <label>Part {{part.id}}</label>
        </div>
    </div>
    <div class="part-content">
        <ng-container *ngFor="let block of part.blocks">
            <app-block 
                [block]="block" 
                [variableContext]="variableContext"
                (onDuplicateBlock)="onDuplicateBlock($event)" 
                (onRemoveBlock)="onRemoveBlock($event)"
                (onAddChild)="onAddChild($event)">
            </app-block>
        </ng-container>
    </div>
</div>