<div class="part">
    <div class="part-header">
        <div class="part-info">
            <label>Part {{part.id}}</label>
            <p-dropdown [options]="instrumentTypes" [(ngModel)]="part.instrumentType" 
                       (onChange)="onInstrumentSelected($event.value)"
                       optionLabel="label"
                       optionValue="value"
                       [style]="{'width': '150px'}"
                       placeholder="Select instrument">
            </p-dropdown>
        </div>
        <div class="part-controls">
            <button pButton type="button" icon="pi pi-plus" (click)="onAddChild(part.block)" pTooltip="Add child block"></button>
            <button pButton type="button" icon="pi pi-play" (click)="playPart()" pTooltip="Play part"></button>
            <button pButton type="button" icon="pi pi-copy" (click)="duplicatePart()" pTooltip="Duplicate part"></button>
            <button pButton type="button" icon="pi pi-times" (click)="removePart()" pTooltip="Remove part"></button>
        </div>
    </div>
    <div class="part-content">
        <app-block 
            [(block)]="part.block" 
            [variableContext]="variableContext"
            (onDuplicateBlock)="onDuplicateBlock($event)" 
            (onRemoveBlock)="onRemoveBlock($event)"
            (onAddChild)="onAddChild($event)">
        </app-block>
    </div>
</div>