<!-- <div class ="container">
  <p-inputNumber id="blockRepeatingTimes" placeholder="Repeating" [(ngModel)]="block.repeatingTimes" mode="decimal"
    [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
    decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
    incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [size]="5">
  </p-inputNumber>
  <button pButton type="button" icon="pi pi-copy" (click)="duplicateBlock(block)"></button>
    <button pButton type="button" icon="pi pi-plus" (click)="addChild(block)"></button>
    <button pButton type="button" icon="pi pi-times" (click)="removeChild(block)"></button>
    <app-block-commands [block]="block" (removeCommand)="onRemoveCommand($event)"></app-block-commands> -->

<p-tree 
  [value]="block.children ||[]" 
  [draggableNodes]="true" 
  [droppableNodes]="true" 
  draggableScope="self" 
  droppableScope="self"  
  emptyMessage="Empty" 
  (onDragStart)="dragStart(block)" 
  (onDragEnd)="dragEnd()">
    <ng-template let-node pTemplate="default">
    <div class="block-content">
      <!-- Bloque (información principal) - Todo en la misma línea -->
      <div class="block-header"><span class="header-item block-label"><input type="text" [(ngModel)]="node.label" class="block-name-input" placeholder="Block {{node.id}}"></span><span class="header-item block-controls"><p-button (click)="addChild(node)" icon="pi pi-plus" pTooltip="Add Block" tooltipPosition="top"></p-button><p-button (click)="removeChild(node)" icon="pi pi-times" pTooltip="Remove Block" tooltipPosition="top"></p-button><p-button (click)="duplicateBlock(node)" icon="pi pi-copy" pTooltip="Duplicate Block" tooltipPosition="top"></p-button></span><span class="header-item repetitions-container"><span class="repetitions-label">Repeat</span><input type="number" id="repeatingTimes" class="repetitions-input" style="width:45px !important; max-width:45px !important;" [(ngModel)]="node.repeatingTimes" min="0" max="99" step="1"></span></div>
      
      <!-- Melody Editor y Comandos -->
      <div class="block-body">
        <!-- Editor de melodías siempre visible -->
        <div class="melody-editor-wrapper">
          <div class="melody-title">Melody</div>
          <div class="melody-header">
            <div class="melody-editor-container">
              <!-- Use wrapper for direct editing -->
              <div [class.hidden]="node.blockContent?.isVariable">
                <app-melody-editor-wrapper 
                  class="block-melody-editor-wrapper" 
                  [(ngModel)]="node.blockContent.notes" 
                  (toggleVariable)="toggleMelodyVariable($event, node)">
                </app-melody-editor-wrapper>
              </div>
              <!-- Dropdown for variable selection -->
              <div [class.hidden]="!node.blockContent?.isVariable" class="melody-dropdown-container">
                <div class="dropdown-wrapper">
                  <div class="dropdown-variable-icon" (click)="toggleMelodyVariable($event, node)">$</div>
                  <p-dropdown 
                    [options]="melodyVariables"
                    [ngModel]="getSelectedVariableObject(node)"
                    (ngModelChange)="setSelectedVariableObject($event, node)"
                    [optionLabel]="'name'"
                    [placeholder]="'Select melody variable'"
                    [style]="{'width': '100% !important', 'max-width': 'none !important'}"
                    [panelStyle]="{'min-width': '300px'}"
                    [appendTo]="'body'"
                    [showClear]="true"
                    [dataKey]="'name'"
                    [filter]="false"
                    [autoDisplayFirst]="false"
                    [editable]="false">
                    <ng-template let-item pTemplate="item">
                      <div class="melody-option">
                        <div class="melody-content">
                          <span class="variable-name">{{item.name}}</span>
                          <div class="notes-container">
                            <div *ngFor="let note of parseNotes(item.notes); let i = index" class="note-item">
                              <span class="note-value">
                                {{ note.note !== undefined ? note.note : 's' }}
                              </span>
                              <span class="note-duration">
                                {{ note.duration }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template let-item pTemplate="selectedItem">
                      <div class="melody-option" style="height: 100%;">
                        <div class="melody-content" style="display: flex; align-items: center; height: 100%;">
                          <span class="variable-name">{{item?.name || 'Select melody variable'}}</span>
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <app-block-commands 
          [block]="node" 
          (removeCommand)="handleRemoveCommand($event)">
        </app-block-commands>
      </div>
    </div>
  </ng-template>
</p-tree>
<!-- </div> -->
