<!-- <div class ="container">
  <p-inputNumber id="blockRepeatingTimes" placeholder="Repeating" [(ngModel)]="block.repeatingTimes" mode="decimal"
    [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
    decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
    incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [size]="5">
  </p-inputNumber>
  <button pButton type="button" icon="pi pi-copy" (click)="duplicateBlock(block)"></button>
    <button pButton type="button" icon="pi pi-plus" (click)="addChild(block)"></button>
    <button pButton type="button" icon="pi pi-times" (click)="removeChild(block)"></button>
    <app-block-commands [block]="block" (removeCommand)="onRemoveCommand($event)"></app-block-commands> -->

<!-- Conditionally render the p-tree only if there are children -->
<ng-container *ngIf="block.children && block.children.length > 0">
  <p-tree 
    [value]="block.children ||[]" 
    [draggableNodes]="true" 
    [droppableNodes]="true" 
    draggableScope="self" 
    droppableScope="self"  
    (onDragStart)="dragStart(block)" 
    (onDragEnd)="dragEnd()"
    [style]="{'height': 'auto', 'overflow-y': 'auto'}">
    <ng-template let-node pTemplate="default">
    <div class="block-content">
      <!-- Header: Contains toggler, label, controls, repetitions, melody editor -->
      <div class="block-header">
          <!-- Remove p-treeToggler -->
          
          <!-- Add Toggle Button/Icon - Always visible -->
          <p-button 
              [icon]="node.expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" 
              (click)="toggleNodeExpansion(node)" 
              styleClass="p-button-text p-button-sm block-toggler-button">
          </p-button>
          <!-- Remove placeholder span -->

          <span class="header-item block-label"><input type="text" [(ngModel)]="node.label" class="block-name-input" placeholder="Block {{node.id}}"></span>
          <span class="header-item block-controls"><p-button (click)="addChild(node)" icon="pi pi-plus" pTooltip="Add Block" tooltipPosition="top"></p-button><p-button (click)="removeChild(node)" icon="pi pi-times" pTooltip="Remove Block" tooltipPosition="top"></p-button><p-button (click)="duplicateBlock(node)" icon="pi pi-copy" pTooltip="Duplicate Block" tooltipPosition="top"></p-button></span>
          <span class="header-item repetitions-container"><span class="repetitions-label" style="margin-right: 2px; font-size: 12px;">×</span><input type="number" id="repeatingTimes" class="repetitions-input" style="width:32px !important; max-width:32px !important;" [(ngModel)]="node.repeatingTimes" min="0" max="99" step="1"></span>
          
          <!-- Melody Editor integrated into header -->
          <span class="header-item melody-editor-inline-container">
              <!-- Remove the outer wrapper and title, keep the editor container -->
             <div class="melody-editor-container">
                <div class="p-field p-col-12">
                  <app-melody-editor-wrapper 
                    id="melody-{{node.id}}" 
                    [(ngModel)]="node.blockContent.notes"
                    [showVariableIcon]="false"
                    >
                  </app-melody-editor-wrapper>
                </div>
             </div>
          </span>
      </div> <!-- End of block-header -->
      
      <!-- REMOVE Melody Editor Wrapper from here -->
      <!-- 
      <div class="melody-editor-wrapper"> 
        ...
      </div>
      -->

      <!-- Block Body (Commands) - Render only if expanded -->
      <div class="block-body" *ngIf="node.expanded">
        <app-block-commands 
          [block]="node" 
          >
        </app-block-commands>
      </div>
    </div>
  </ng-template>

  <!-- Add empty template to hide default toggler icon -->
  <ng-template pTemplate="togglericon"></ng-template>
</p-tree>
</ng-container> <!-- Close the conditional container -->

<!-- </div> -->
