.drag-handle {
    cursor: move;
    user-select: none;
    padding: 4px 8px;
    background: #f0f0f0;
    border-radius: 4px;
    margin-right: 8px;
    display: inline-block;
}

:host ::ng-deep {
    .p-treenode-content {
        cursor: default !important;
        
        &:not(.p-highlight):hover {
            background: transparent !important;
        }
    }

    .p-tree {
        padding: 0;
        border: none;
        background: transparent;
    }
} 