.container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
}

label {
    margin-right: 4px;
}

:host ::ng-deep .p-inputnumber {
    width: 70px;
}

:host ::ng-deep .p-inputnumber-input {
    padding: 2px;
    width: 30px;
    text-align: center;
}

:host ::ng-deep .p-button {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-button .pi {
    font-size: 0.875rem;
}
