<!-- <div class="container"> -->
<mat-accordion>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            {{block.blockContent.notes}}
        </mat-expansion-panel-header>
        <div class="container">
            <button mat-mini-fab color="accent" (click) = "onDuplicateBlock()">
                <mat-icon>forward</mat-icon>
            </button>

            <app-block-notes (addNewCommand)="onAddNewCommand()" [blockContent]="block.blockContent">
            </app-block-notes>
            <app-block-commands [commands]="block.commands" (removeCommand)="onRemoveCommand($event)">
            </app-block-commands>
            <button mat-mini-fab color="accent" (click) = "onAddNewCommand()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<!-- </div> -->