<div class="song-editor">
    <div class="editor-section">
        <app-song 
            [song]="song" 
            (onPlayPart)="playPart($event)">
        </app-song>
        <div class="controls">
            <button pButton type="button" icon="pi pi-play" (click)="playSong()"></button>
            <button pButton type="button" icon="pi pi-stop" (click)="stop()"></button>
        </div>
    </div>

    <div class="editor-section">
        <div class="variables-section">
            <app-variable-declaration [variableContext]="song.variableContext"></app-variable-declaration>
        </div>
    </div>
</div>   