/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/saga-green/theme.css";
@import "~primeng/resources/primeng.min.css";

html, body { height: 100%; }
body { margin: 5; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    padding: 0px 0px 5px 5px; 
    background-color: white!important;
    background: white;
    color: black!important;
    
  }
  .p-component{
    padding: 0px; 
  }
  .p-inputtext{
    height:24px;
    padding: 0px!important; 
  }
  
  .p-element{
    padding:0px;
    margin:0px;
  }
  .p-accordion-header-link{
    background-color: white!important;
    background: white;
    color: black!important;
    height:14px;

  }
  .p-inputwrapper{
    padding:0px;
  }
  .p-button{
    height:24px;
    width:24px!important;
    padding: 0px!important; 
    background-color: white!important;
    background: white;
    color: black!important;
    border-color: black!important;

  }
  .p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button{
    background-color: white!important;
    background: white;
    color: black!important;
    height:24px;
    padding: 0px!important; 
  }
  
  .app-block-notes{
    height:24px;
  }
  .p-inputnumber{
    height:24px;
    padding: 0px;

  }
   .p-dropdown{
    height:24px;
    padding: 0px;
    background-color: white!important;
    background: white!important;

  }
 
   .p-dropdown-items{
    height:200px;
    padding: 0px;
    margin: 0px;
    background-color: white!important;
    background: white!important;
  }
  
  .p-dropdown-panel{
    height:24px;
    padding:0px;
    background-color: white!important;
    background: white!important;

  }
 .ptree{
  padding:0px!important;
  height:14px!important;
  margin:0px!important;
 }
 .p-tree-node-content{
  padding:0px!important;
  margin:0px!important;
  height:14px!important;
 }

.p-dropdown-items .p-dropdown-item {
    background-color: white !important;
}

.p-dropdown-items .p-dropdown-item:hover {
    background-color: #e9ecef !important;
}

.p-dropdown-panel {
    background-color: white !important;
}

.p-tree {
  padding: 0px!important;
  margin: 0px!important;
}

.p-tree-container {
  padding: 0px!important;
  margin: 0px!important;
}

.p-treenode {
  padding: 0px!important;
  margin: 0px!important;
  line-height: 1!important;
}

.p-treenode-content {
  padding: 0px 0px!important;
  margin: 0px!important;
  min-height: 14px!important;
}

.p-tree-wrapper {
  line-height: 1!important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: 0!important;
  margin: 0!important;
}

.p-tree .p-tree-container .p-treenode {
  padding: 0!important;
  margin: 0!important;
}

